//
   Created by gerry on 22.11.15.

doctype html
html
    head
        title= datum
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href="/stylesheets/graphics.css")
        script(src="//d3js.org/d3.v3.min.js")
        script(src="/js/graph.js")

    body
        .container
            h1.h1 PV-Daten Wetrutt: Stringvergleich
            .row
                .col-lg-3
                    button.btn.btn.default(onClick="dayBack()") <
                .col-lg-6
                    p Datum: #{datum}
                .col-lg-3
                    button.btn.btn-default(onClick="dayFwd()") >
            .row
                .col-lg-12
                    svg.chart
        script.
            window.onload=function(){loadData("#{datum}")}
