extends layout

block content
    h1 PV Daten für Wetrutt #{datum}
    .row
        .col-md-3.col-sm-1.hidden-xs
        .col-sm-10.col-xs-12.col-md-6
            .panel.panel-default
                .panel-heading
                    .row
                        .col-md-1.col-sm-1.col-xs-1
                            button.btn.btn-default(onClick="move(-1)") <
                        .col-md-2.col-sm-1
                        .col-md-6.col-sm-8.col-xs-8
                            form.form.form-horizontal(action="setDate")
                                input(type="text" style="width:100px;text-align:center" name="date" value=datum)
                                button.btn.btn-primary(type="submit") Datum
                        .col-md-2.col-sm-1
                        .col-md-1.col-sm-1.col-xs-1
                            button.btn.btn-default(onClick="move(1)") >

                .panel-body
                    table.table.table-striped.table-condensed
                        each item in data
                            tr
                                td!=item.title
                                td!=item.s1
                                td!=item.s2

    script.
        function move(days){
            window.location.href='/strings/move?date=#{datum}&offset='+days
        }
