.chart div{
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}

.chart .string1{
    fill: red;
    color: black;
}

.chart .string2{
    fill: blue;
    color: yellow;
}
.chart text {
    fill: red;
    font: 10px sans-serif;
    text-anchor: end;
}

.axis text{
    font: 10px sans-serif;
}

.axis path,
.axis line{
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}